<h3 class="mt-3">Agregar Comentario</h3>
<form [formGroup]="agregarComentario" (ngSubmit)="agregar()">
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input formControlName="titulo" type="text" class="form-control" id="titulo">
    </div>
    <div class="mb-3">
        <label for="creador" class="form-label">Creador</label>
        <input formControlName="creador" type="text" class="form-control" id="Creador">
    </div>
    <div class="mb-3">
        <label for="texto" class="form-label">Texto</label>
        <textarea formControlName="texto" class="form-control" id="texto" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary float-end">Aceptar</button>
      <button type="button" routerLink="/" class="btn btn-secondary">Volver</button>
</form>