<h3 class="mt-3">Agregar Comentario</h3>
<form>
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="titulo">
    </div>
    <div class="mb-3">
        <label for="creador" class="form-label">Creador</label>
        <input type="text" class="form-control" id="Creador">
    </div>
    <div class="mb-3">
        <label for="texto" class="form-label">Texto</label>
        <textarea class="form-control" id="texto" rows="8"></textarea>
      </div>
      <button class="btn btn-primary float-end">Aceptar</button>
      <button routerLink="/" class="btn btn-secondary">Volver</button>
</form>